body{
    background: pink;
    overflow: hidden; 
}

.heart {  
    display: inline-block;
    margin: 0 10px;
    transform: rotate(-45deg);
    position: absolute;
    left: 475px;
    top: 150px;
  }
  
  .heart:before,
  .heart:after {
    content: "";
    border-radius: 50%;
    position: absolute;
  }
  
  .c{
    background-color: crimson;
    height: 400px;
    width: 400px;
    -webkit-animation: strobeC 10s infinite;
    z-index: -5;
  }

  .c:before,
  .c:after{
    background-color: crimson;
    height: 400px;
    width: 400px;
    -webkit-animation: strobeC 10s infinite;
    z-index: -5;
  }

  .c:before {
    top: -200px;
    left: 0;
  }
  
  .c:after {
    left: 200px;
    top: 0;
  }

  .o{
    background-color: #db8b0a;
    height: 200px;
    width: 200px;
    -webkit-animation: strobe0 10s infinite;
    left: 550px;
    top: 320px;
  }
  .o:before,
  .o:after{
    background-color: #db8b0a;
    height: 200px;
    width: 200px;
    -webkit-animation: strobe0 10s infinite;
  }

  .o:after {
    left: 100px;
    top: 0;
  }

  .o:before {
    top: -100px;
    left: 0;
  }
  




  @-webkit-keyframes strobeC {
    0% {background: crimson;}
    33% {background: #db8b0a;}
    66% {background: #fff;}
    100% {background: crimson;}
  }

 @-webkit-keyframes strobe0 {
    0% {background: #db8b0a;}
    33% {background: #fff;}
    66% {background: crimson;}
    100% {background: #db8b0a;}
  }
 